<body class="bg-white antialiased dark:bg-gray-600">
  <div class="flex justify-center">
    <div class="max-w-2xl w-full">
      <div id="table-of-contents" class="my-5"></div>
      <article class="prose dark:prose-invert prose-headings:text-brand dark:prose-headings:text-brand prose-a:text-primary-600 dark:prose-a:text-primary-300 prose-blockquote:border-primary-300 dark:prose-blockquote:border-primary-700">
        <%= @post_body %>
      </article>
    </div>
  </div>
</body>
