<script>
  const socket = new WebSocket("ws://localhost:8080/events/reload");
  socket.onmessage = function(event) {
    window.location.reload();
  };
  socket.onopen = function(e) {
    socket.onclose = function(event) {
      if (!event.wasClean)
        window.location.reload();
    };
  };
</script>
